<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
      xmlns:aop="http://www.springframework.org/schema/aop"      
      xmlns:tx="http://www.springframework.org/schema/tx"       
      xmlns:jdbc="http://www.springframework.org/schema/jdbc"       
      xmlns:context="http://www.springframework.org/schema/context"      
      xsi:schemaLocation="       
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
     default-autowire="byName">
   <context:annotation-config />
	<!-- 导入属性配置文件 -->
	<context:property-placeholder location="classpath:mysql.properties" />
    <context:component-scan base-package="com" />
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.UserMapper"/>
    </bean>
    
    <bean id="catalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.CatalogMapper"/>
    </bean>

    <bean id="moduleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.ModuleMapper"/>
    </bean>

    <bean id="roleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.RoleMapper"/>
    </bean>

    <bean id="roleModuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.RoleModuleMapper"/>
    </bean>

	<bean id="contentsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.ContentsMapper"/>
    </bean>
    
    <bean id="userRoleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.UserRoleMapper"/>
    </bean>

    <bean id="zlCatalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.ZlCatalogMapper"/>
    </bean>
    
    <bean id="zlContentsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.ZlContentsMapper"/>
    </bean>
    
    <bean id="fileInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.FileInfoMapper"/>
    </bean>
    
    <bean id="surveyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.SurveyMapper"/>
    </bean>
    
    <bean id="surveyInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.SurveyInfoMapper"/>
    </bean>
    
	<bean id="videoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.VideoMapper"/>
    </bean>
    
    <bean id="linksMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.LinksMapper"/>
    </bean>
    
    <bean id="titlepicMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.TitlepicMapper"/>
    </bean>
    
    <bean id="letterMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.LetterMapper"/>
    </bean>

    <bean id="openCatalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.OpenCatalogMapper"/>
    </bean>
    
    <bean id="openContentsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.OpenContentsMapper"/>
    </bean>
    
    <bean id="optionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.OptionMapper"/>
    </bean>
    
    <bean id="roleCatalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.RoleCatalogMapper"/>
    </bean>
    
    <bean id="opinionPollMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.OpinionPollMapper"/>
    </bean>
    
    <bean id="opinionPollInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.system.mappers.OpinionPollInfoMapper"/>
    </bean>
    
    <!-- 前台 -->
    <bean id="frontSurveyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontSurveyMapper"/>
    </bean>
    
    <bean id="frontSurveyInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontSurveyInfoMapper"/>
    </bean>
    
    <bean id="frontLetterMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontLetterMapper"/>
    </bean>
    
    <bean id="frontVideoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontVideoMapper"/>
    </bean>
    
    <bean id="frontContentsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontContentsMapper"/>
    </bean>
    
    <bean id="frontCatalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontCatalogMapper"/>
    </bean>
    
    <bean id="frontLinksMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontLinksMapper"/>
    </bean>
    
    <bean id="frontFileInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontFileInfoMapper"/>
    </bean>
    
    <bean id="frontSearchMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontSearchMapper"/>
    </bean>
    
    <bean id="frontOpenCatalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontOpenCatalogMapper"/>
    </bean>
    
    <bean id="frontZlCatalogMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontZlCatalogMapper"/>
    </bean>
    
    <bean id="frontOpenContentsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontOpenContentsMapper"/>
    </bean>
    
    <bean id="frontZlContentsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontZlContentsMapper"/>
    </bean>
    
	<bean id="frontTitlepicMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontTitlepicMapper"/>
    </bean>
    
    <bean id="frontOpinionPollMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontOpinionPollMapper"/>
    </bean>
    
    <bean id="frontOpinionPollInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="mapperInterface" value="com.web.mappers.FrontOpinionPollInfoMapper"/>
    </bean>
	
</beans>
