<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mappers.FrontCatalogMapper">

    <resultMap type="Catalog" id="catalog">
        <id property="theID" column="theID"/>
        <result property="parentID" column="parentID"/>
        <result property="title" column="title"/>
        <result property="status" column="status"/>
        <result property="sort" column="sort"/>
        <result property="catalogType" column="catalogType"/>
        <result property="url" column="url"/>
        <result property="isFirstCatalog" column="isFirstCatalog"/>
        <result property="isUploadPic" column="isUploadPic"/>
    </resultMap>


    <select id="queryCatalogByBean" parameterType="Catalog" resultType="Catalog">
        SELECT * FROM T_CATALOG
        <trim suffixOverrides="and">
            <where>
                <if test="theID!=null">theID=#{theID} and</if>
                <if test="parentID!=null">parentID=#{parentID} and</if>
                <if test="title!=null">title=#{title} and</if>
                <if test="status!=null">status=#{status} and</if>
                <if test="sort!=null">sort=#{sort} and</if>
                <if test="catalogType!=null">catalogType=#{catalogType} and</if>
                <if test="url!=null">url=#{url} and</if>
                <if test="isFirstCatalog!=null">isFirstCatalog=#{isFirstCatalog} and</if>
                <if test="isUploadPic!=null">isUploadPic=#{isUploadPic} and</if>
            </where>
        </trim>

    </select>

    <select id="queryCatalogListByBean" parameterType="Catalog" resultType="Catalog">
        SELECT * FROM T_CATALOG
        <trim suffixOverrides="and">
            <where>
                <if test="theID!=null">theID=#{theID} and</if>
                <if test="parentID!=null">parentID=#{parentID} and</if>
                <if test="title!=null">title=#{title} and</if>
                <if test="status!=null">status=#{status} and</if>
                <if test="sort!=null">sort=#{sort} and</if>
                <if test="catalogType!=null">catalogType=#{catalogType} and</if>
                <if test="url!=null">url=#{url} and</if>
                <if test="isFirstCatalog!=null">isFirstCatalog=#{isFirstCatalog} and</if>
                <if test="isUploadPic!=null">isUploadPic=#{isUploadPic} and</if>
            </where>
        </trim>
        order by sort asc
    </select>

    <select id="queryTopCatalogList" parameterType="Catalog" resultType="Catalog">
        SELECT top ${topNum} * FROM T_CATALOG
        <trim suffixOverrides="and">
            <where>
                <if test="theID!=null">theID=#{theID} and</if>
                <if test="parentID!=null">parentID=#{parentID} and</if>
                <if test="title!=null">title=#{title} and</if>
                <if test="status!=null">status=#{status} and</if>
                <if test="sort!=null">sort=#{sort} and</if>
                <if test="catalogType!=null">catalogType=#{catalogType} and</if>
                <if test="url!=null">url=#{url} and</if>
                <if test="isFirstCatalog!=null">isFirstCatalog=#{isFirstCatalog} and</if>
                <if test="isUploadPic!=null">isUploadPic=#{isUploadPic} and</if>
            </where>
        </trim>
        order by sort asc
    </select>

    <select id="queryCatalogByParentID" parameterType="string" resultType="Catalog">
        select * from t_catalog where parentID = #{value}
    </select>
    
    <select id="queryCatalogByID" resultType="com.system.pojo.Catalog">
        SELECT * FROM t_catalog where theID = #{value}
    </select>
    
    <select id="countCatalogByBean" parameterType="Catalog" resultType="java.lang.Integer">
        SELECT count(1) FROM T_CATALOG
        <trim suffixOverrides="and">
            <where>
                <if test="theID!=null">theID=#{theID} and</if>
                <if test="parentID!=null">parentID=#{parentID} and</if>
                <if test="title!=null">title=#{title} and</if>
                <if test="status!=null">status=#{status} and</if>
                <if test="sort!=null">sort=#{sort} and</if>
                <if test="catalogType!=null">catalogType=#{catalogType} and</if>
                <if test="url!=null">url=#{url} and</if>
                <if test="isFirstCatalog!=null">isFirstCatalog=#{isFirstCatalog} and</if>
                <if test="isUploadPic!=null">isUploadPic=#{isUploadPic} and</if>
            </where>
        </trim>
    </select>
</mapper>
